.notion-page-icon-wrapper {
  display: none !important;
}

.notion-viewport {
  pointer-events: none;
}

.phone-form-input {
  width: 100% !important;
  min-width: 0px;
  outline: 2px solid transparent !important;
  outline-offset: 2px;
  position: relative !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  font-size: var(--chakra-fontSizes-md) !important;
  height: var(--chakra-sizes-10) !important;
  color: var(--chakra-colors-grey-800);
  background: var(--chakra-colors-grey-200) !important;
  border: 1px solid !important;
  border-radius: var(--chakra-radii-md) !important;
  border-color: inherit;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-width: 0 !important;
  border-bottom: 2px solid !important;
  margin-bottom: -2px !important;
  border-bottom-color: var(--chakra-colors-grey-600) !important;
  border-top-width: 0 !important;
}

.phone-form-input.valid {
  border-bottom-color: var(--chakra-colors-green-500)  !important;
}
.phone-form-input.error {
  border-bottom-color: var(--chakra-colors-error)  !important;
  box-shadow: var(--chakra-shadows-none) !important;
  outline: 2px solid  !important;
  outline-color: var(--chakra-colors-error) !important;
  outline-offset: 2px !important;
}

.phone-form-button {
  background: var(--chakra-colors-grey-200) !important;
  border: 1px solid !important;
  border-radius: var(--chakra-radii-md) !important;
  border-color: inherit;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-width: 0 !important;
  border-bottom: 2px solid !important;
  border-bottom-color: var(--chakra-colors-grey-600) !important;
  border-top-width: 0 !important;
}

.phone-form-button.valid {
  border-bottom-color: var(--chakra-colors-green-500)  !important;
}
.phone-form-button.error {
  border-bottom-color: var(--chakra-colors-error)  !important;
}

