
<mj-section padding-bottom="10px" padding-top="10px" background-color="#ffffff">
    <mj-column>
        <mj-text font-size="28px" font-weight="700"><%- data.title %></mj-text>
        <mj-text font-size="16px" line-height="24px" color="#000000">Bonjour <%= data.civility %>,
            <div>
              <br>Une demande de réinitialisation de mot de passe a été faite pour votre compte (<%= data.username %>). 
              <br><br>Si vous êtes à l'origine de cette demande,<br> merci de cliquer sur le lien ci-dessous : 
            </div>
          </mj-text>
        <mj-button font-size="16px" background-color="#000091" border-radius="4px" href="<%= data.url %>">Réinitialiser votre mot de passe</mj-button>
    </mj-column>
</mj-section>
