<mjml>
    <mj-head>
        <mj-title>Contrat d'apprentissage dématérialisé pour la fonction publique</mj-title>
        <mj-font name="Public Sans" href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,900;1,400"/>
        <mj-style inline="inline">
            a, a:link,a:visited, a:hover, a:active {color: #000091;}
            .tagline div { display: table-cell!important; vertical-align: middle!important; }
            .link-nostyle { color: inherit;}
            .table th, .table td { border: 1px solid white; }
            .bluefrance { color:#000091; }
            .green { background-color:#8BC34A; }
            .red { background-color:#F44336; }
            .orange { background-color:#FF9800; }
            .button { -webkit-appearance: button; -moz-appearance: button; appearance: button; text-decoration: none; color: initial; background-color : #000091; color : #fff; padding: 8px 16px; border-radius: 1px; }
        </mj-style>
        <mj-attributes>
            <mj-text color="#000000" font-family="Public Sans,sans-serif" font-size="16px" line-height="23px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#f5f5fe">
      <mj-section background-color="#f5f5fe">
      </mj-section>
      <mj-section padding="8px 0" background-color="#f5f5fe">
        <mj-column>
          <mj-image align="left" css-class="logo" padding="8px 0px" src="https://www.inserm.fr/wp-content/uploads/2021/01/rep.svg" width="80px" height="auto" />
        </mj-column>
        <mj-column>
          <mj-text css-class="tagline" padding="8px 0px" font-weight="700" font-size="16px" height="69px" line-height="28px" color="#000000">Contrat d'apprentissage dématérialisé pour la fonction publique
          </mj-text>
        </mj-column>
      </mj-section>
      
      <%- data.content %>

      <mj-section background-color="#f5f5fe">
        <mj-column>
          <mj-text align="center" color="#929292" font-size="12px" line-height="18px">
            Vous avez reçu cet email car une demande de réinitialisation de mot de passe a été faite sur  <a data-cke-saved-href="<%= data.publicUrl %>" href="<%= data.publicUrl %>" class="link-nostyle"><%= data.publicUrl %></a>.
          </mj-text>
        </mj-column>
      </mj-section>
    
    </mj-body>
</mjml>