<mj-section padding-bottom="10px" padding-top="10px" background-color="#ffffff">
    <mj-column>
        <mj-text  padding-top="20px" color="#19414C" font-size="22px" font-weight="900" font-family="sans-serif" >
            Votre compte utilisateur (<%= data.username %>) vient d'être créé sur le Contrat publique Apprentissage
        </mj-text>
        <mj-text padding-top="20px" color="#19414C">
            <a href="<%= data.publicUrl %>"
                class="button">Cliquez ici pour accéder à la plateforme</a>
        </mj-text>
    </mj-column>
</mj-section>

<mj-section background-color="#ffffff">
    <mj-column>
        <mj-divider border-width="1px" border-color="lightgrey"/>
    </mj-column>
</mj-section>

<mj-section background-color="#ffffff" padding-bottom="0">
    <mj-column padding-top="0">
        <mj-text font-size="14px" line-height="20px" color="#19414C">
            Vous avez reçu cet email car un compte utilisateur a été créé sur <a href="<%= data.publicUrl %>" class="link-nostyle"><%= data.publicUrl %></a>.
        </mj-text>
    </mj-column>
</mj-section>