<mj-section padding-bottom="10px" padding-top="10px" background-color="#ffffff">
    <mj-column>
        <mj-text font-size="28px" font-weight="700">Bienvenue</mj-text>
        <mj-text font-size="16px" line-height="24px" color="#000000">Bonjour,
            <div>
              <br> Votre compte utilisateur (<%= data.username %>) vient d'être créé sur la plateforme Contrat d'apprentissage dématérialisé pour la fonction publique.
            </div>
          </mj-text>
        <mj-button font-size="16px" background-color="#000091" border-radius="4px" href="<%= data.publicUrl %>">Cliquez ici pour accéder à la plateforme</mj-button>
    </mj-column>
</mj-section>